<% var cssClass = (options && options.class) ? options.class : 'navigation' %>
<nav class="<%- cssClass %>" data-active-children>
	<div class="<%- cssClass %>__menu">
		<% if(cssClass == 'responsive_navigation') { %>
			<a href="/" class="<%- cssClass %>__item">Home</a>
		<% } %>
		<a href="/about-us/" class="<%- cssClass %>__item">About Us</a>
		<a href="/services/" class="<%- cssClass %>__item">Services</a>
		<a href="/insights/" class="<%- cssClass %>__item">Insights</a>
		<a href="/events/" class="<%- cssClass %>__item">Events</a>
		<a href="/contact/" class="<%- cssClass %>__item <%- cssClass %>__item--button button">Contact Us</a>
	</div>
</nav>