// ======================================================
// Block Styles
// ============
.block_events_listing {
	$block: &;
	padding-bottom: 80px;

	// CARDS WRAPPER
	&__cards {
		margin-bottom: 60px;
		
		@include flexgrid($columns: 3, $spacing: 79px, $vertical-spacing: 50px, $breakpoint: large up);
		@include flexgrid($columns: 2, $spacing: 79px, $vertical-spacing: 50px, $breakpoint: medium only);

		@include breakpoint(small down) {
			display: flex;
			flex-direction: column;
		}
	}

	// Intro Text
	&__intro {
		margin: 52px auto 50px;
		max-width: 933px;		
		text-align: center;
	}

	// Single Card
	&__card {
		display: block;

		@include breakpoint(medium down) {
			margin-bottom: 70px;
		}

		@include breakpoint(small down) {
			margin-bottom: 36px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Image
	&__image {
		height: 200px;
		margin-bottom: 10px;
	}

	// Text
	&__date {
		color: $primary-color;
		display: block;
		font-weight: $weight-normal;
		font-size: 1.0625rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__heading {
		margin-bottom: 14px;
	}

	&_description {
		margin-bottom: 17px;
	}
}